{
  "presets": [
    "react",
    "stage-0",
    "env"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel",
      ]
    }
  }
}
